.loginScreen {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.loginScreen__logo {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.loginScreen__button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.loginScreen__background {
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/2e884ce2-da1c-4501-ab9a-10c534d30975/6973a9ea-02b2-4de9-9006-d7d224c9b75d/IN-en-20230327-popsignuptwoweeks-perspective_alpha_website_large.jpg") center no-repeat;
    background-size: cover;
}

.loginScreen__gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.loginScreen__body > h1 {
    font-size: 3.125rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.loginScreen__body > h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body > h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen__body {
    position: absolute;
    top: 30%;
    width: 100vw;
    margin-inline: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
}

.loginScreen__input > form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginScreen__input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width:  30%;
    border: none;
    max-width: 600px;
}

.loginScreen__getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.loginScreen__input {
    margin-top: 20px;
}
